@media screen and (max-width: 1200px) {
    html {
        font-size: 60% !important;
    }

    body > * {
        width: 100% !important;
    }
}

@media screen and (max-width: 900px) {


    html {
        font-size: 50% !important;
    }

    .header {
        // perspective: 999px;
        &__nav--small {
            display: block !important;
            z-index: 6;
            position: fixed;
            left: 0;
            top: 0;
            bottom: 0;
            padding: 10rem 0 0 2rem;
            background-image: linear-gradient(to right bottom, rgba($color-primary, .9),rgba($color-primary-dark, .5) );
            width: 50%;
            perspective-origin: left center;
            transform-origin: center left;
            transition: all .5s;
            transform: rotateY(90deg);
            opacity: 0;
            visibility: hidden;
            
        }
        &__item {
            display: block;
            margin: 3rem 0;

        }

        &__link {
            font-size: 3rem;
            letter-spacing: 10px;
            font-weight: 400;
        }
    }


    .texture {
        display: none !important;
    }

    .header {
        &__infor {
            width: 90%;
        }
    }

    .header__list {
        display: block !important;
    }


    .row {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .col-1-of-3 {
            width: calc(100% / 2 - 11.2rem);
            margin-bottom: 5rem;
            justify-content: center;
            display: flex;
            align-items: center;
        }
    
    }
    
    .statistic {
        &__main{
            flex-direction: column;
            align-items: center;
            justify-content: center;

        }
        &__thumb {
            margin: unset;
        }
  
    }
    

    .popular{
        &__main {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__thumb {
            margin: unset;
        }

        &__card {
            margin-bottom: 5rem;
        }

       
    }
    


    .box-center {
        text-align: center;
        margin:  2rem 0;

    }

    .text-w-100 {
        width: 100%;
        padding: 0 10rem;
        margin-bottom: 3rem;

    }

    .footer {
        .row {
            flex-direction: column;
        }   

        &__left {
            width: 100%;
            padding: 0 10rem;
            text-align: center;
            margin-bottom: 5rem;
        }
        &__right {
            padding: 0 5rem;
            width: 100%;
        }
    }

    .nav-toggle {
        display: inline-block !important;
        font-size: 3rem;
    }
    .nav-search {
        display: none;
        
    }
}

@media screen and (max-width: 600px) {

    html {
        font-size: 47.5% !important;
    }

    .texture {
        display: none !important;
    }

    .row {
        flex-direction: column;
        justify-content: center;
        // align-items: center;
       

        .col-1-of-3 {
            margin-bottom: 2rem;
        }
    
    }



    .statistic {
        &__circle {
            width: 19rem;
            height: 17rem;
            text-align: center;
            color: #fff;
            padding: 4rem 0;
            margin-bottom: 3rem;
        }
        &__number {
            font-size: 3rem;
            margin-bottom: 2rem;
        }
        &__name {
            font-size: 2.33rem;
        }
    }

    .contact {
        .form__small {
            width: 80%;
            display: flex;
        }
        &__input {
            width: 80%;
        }

        .btn--subscribe {
            z-index: 333;
        }
    }


}